/* Fixed header end */
header {
    border-top       : 10px double #e10a0a;
    border-bottom    : 10px double #e10a0a;
    width            : 100%;
    height           : 145px;
    position         : fixed;
    top              : 0;
    background-color : #ffffff;
}

/* Header text */
header h1 {
    margin-top    : 5px;
    margin-bottom : 5px;
    text-align    : center;
    font-size     : 40px;
    color         : #d73636;
    font-family   : 'Mountains of Christmas', cursive;
    text-shadow   : 2px 2px 4px #000000;
}

header h3 {
    margin-top  : 20px;
    text-align  : center;
    font-size   : 25px;
    color       : #d73636;
    font-family : 'Mountains of Christmas', cursive;
    text-shadow : 2px 2px 4px #000000;
}

header hr {
    border-top : 3px dashed red;
    width      : 40%;
}

a {
    outline         : none;
    text-decoration : none;
    padding         : 2px 1px 0;
    color           : #d73636;
}

a:focus {
    border-bottom : 1px solid;
    color         : #d73636;
}

a:hover {
    border-bottom : 1px solid;
    color         : #d73636;
}

a:active {
    background : #265301;
    color      : #d73636;
}

/* Scrollable section*/
section {
    width         : 40%;
    min-width     : 800px;
    padding       : 20px;
    background    : #ffffff;
    border-bottom : 1px solid #cccccc;
    height        : auto;
    margin        : 200px auto 60px;
    border-radius : 20px
}

/* div table */
.table {
    display     : table;
    font-size   : 15px;
    font-family : 'Montserrat', sans-serif;
    line-height : 1.8;
    padding-top : 15px;
}

/* div row */
.row {
    display : table-row;
}

/* div cell */
.cell {
    display : table-cell;
    padding : 0 10px;
}

/* class for img center alignment */
.center {
    text-align : center;
}

/* card */
div.picture {
    margin-left  : auto;
    margin-right : auto;
    width        : 300px;
    box-shadow   : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* card caption */
div.small-container {
    padding     : 1px;
    font-family : 'Roboto', sans-serif;
    font-size   : 20px;
    text-align  : center;
}

/* class for candidate name style */
@font-face {
    font-family : "HarryPotter";
    src         : url("../fonts/HARRYP__.TTF");
}

div.name {
    color       : white;
    text-align  : center;
    font-size   : 90px;
    font-family : 'HarryPotter', cursive;
    text-shadow : 2px 2px 10px #000000;;
}

/* div container */
div.container {
    background-color : #f6f6f6;
    border-radius    : 20px;
    width            : 85%;
    margin           : 50px auto 60px;
    padding          : 20px;
    box-shadow       : 2px 2px 10px #000000;;
}

/* Search bar */
header .search-container {
    float      : right;
    margin-top : -140px;
}

header input[type=text] {
    padding    : 6px;
    margin-top : 8px;
    font-size  : 17px;
    border     : none;
}

header .search-container button {
    float        : right;
    padding      : 6px 10px;
    margin-top   : 8px;
    margin-right : 16px;
    background   : #dddddd;
    font-size    : 17px;
    border       : none;
    cursor       : pointer;
}

header .search-container button:hover {
    background : #cccccc;
}

@media screen and (max-width : 600px) {
    .search-container {
        float : none;
    }

    header a, header input[type=text], header .search-container button {
        float      : none;
        display    : block;
        text-align : left;
        width      : 100%;
        margin     : 0;
        padding    : 14px;
    }

    header input[type=text] {
        border : 1px solid #cccccc;
    }
}
