{% extends 'base.html' %}

{% block title %}
    {{ data.name }}
{% endblock %}

{% block header_nav_bar %}
    <h3>
        {&emsp;&emsp;
        <a href="/">Back to Main Page</a>&emsp;&emsp;}-|-{&emsp;&emsp;
        <a href="/candidate_list/">List of all Santa Candidates</a>&emsp;&emsp;}-|-{&emsp;&emsp;
        <a href="/skill_list/">List of all Skills</a>
        &emsp;&emsp;}
    </h3>
{% endblock %}

{% block content %}
    <div class="container">
        {% if data.error %}
            <div class="table">
                <div class="row">
                    <a href="/list/">
                        <span class="cell">{{ data.error }}</span>
                    </a>
                </div>
            </div>

        {% else %}
            <div class="name">{{ data.name }}</div>
            <hr>
            <div class="center">
                <div class="picture">
                    <img src="{{ data.picture }}" alt="{{ data.name }}" style="width:100%">
                    <div class="small-container"><p>{{ data.position }}</p></div>
                </div>
            </div>
            <div class="table">
                <div class="row">
                    <span class="cell"><b>Id: </b></span>
                    <span class="cell">{{ data.id }}</span>
                </div>

                <div class="row">
                    <span class="cell"><b>Gender: </b></span>
                    <span class="cell">{{ data.gender.title() }}</span>
                </div>

                <div class="row">
                    <span class="cell"><b>Age: </b></span>
                    <span class="cell">{{ data.age }}</span>
                </div>

                <div class="row">
                    <span class="cell"><b>Skills: </b></span>
                    <span class="cell">{{ data.skills.title() }}</span>
                </div>

                <div class="row">
                    <span class="cell"><b>GitHub: </b></span>
                    <span class="cell"><a href="{{ data.github }}">{{ data.name }}</a></span>
                </div>

                <div class="row">
                    <span class="cell"><b>Bio: </b></span>
                    <span class="cell">{{ data.bio }}</span>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
