<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ data.name }}</title>

    <!-- CSS stylesheets import -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/snowflakes.css">
    <link rel="stylesheet" type="text/css" href="/static/css/wave.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Roboto&family=Mountains+of+Christmas:wght@700&display=swap"
          rel="stylesheet">

    <!-- Search bar button icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!-- Fixed Header start-->
<header>
    <h1>Ho-Ho-Homework</h1>
    <hr>
    <h3>
        {&emsp;&emsp;
        <a href="http://127.0.0.1:5000/">Back to Main Page</a>&emsp;&emsp;}-|-{&emsp;&emsp;
        <a href="http://127.0.0.1:5000/list/">List of all Santa Candidates</a>
        &emsp;&emsp;}
    </h3>

    <!-- Search bar start -->
    <div class="search-container">
        <form action="/search_result/" method="post">
            <input id="search" type="text" placeholder="Name.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- Search bar start -->

</header>
<!-- Fixed Header end-->

<section>
    <div class="container">
        {% if data.error %}
            <div class="table">
                <div class="row">
                    <a href="http://127.0.0.1:5000/list/">
                        <span class="cell">{{ data.error }}</span>
                    </a>
                </div>
            </div>

        {% else %}
            <div class="name">{{ data.name }}</div>
            <hr>
            <div class="center">
                <div class="picture">
                    <img src="{{ data.picture }}" alt="{{ data.name }}" style="width:100%">
                    <div class="small-container"><p>{{ data.position }}</p></div>
                </div>
            </div>
            <div class="table">
                <div class="row">
                    <span class="cell"><b>Id: </b></span>
                    <span class="cell">{{ data.id }}</span>
                </div>

                <div class="row">
                    <span class="cell"><b>Gender: </b></span>
                    <span class="cell">{{ data.gender.title() }}</span>
                </div>

                <div class="row">
                    <span class="cell"><b>Age: </b></span>
                    <span class="cell">{{ data.age }}</span>
                </div>

                <div class="row">
                    <span class="cell"><b>Skills: </b></span>
                    <span class="cell">{{ data.skills.title() }}</span>
                </div>

                <div class="row">
                    <span class="cell"><b>GitHub: </b></span>
                    <span class="cell"><a href="{{ data.github }}">{{ data.name }}</a></span>
                </div>

                <div class="row">
                    <span class="cell"><b>Bio: </b></span>
                    <span class="cell">{{ data.bio }}</span>
                </div>
            </div>
        {% endif %}
    </div>
</section>

<!-- Snowflakes fall without JS start -->
<div class="snowflakes" aria-hidden="true">
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
</div>
<!-- Snowflakes fall without JS end -->

<!-- Wave background start -->
<div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
</div>
<!-- Wave background end -->

</body>
</html>
