{% extends 'base.html' %}

{% block title %}Lesson 11. Homework {% endblock %}

{% block header_nav_bar %}
    <h3>
        {&emsp;&emsp;
        <a href="/candidate_list/">List of all Santa Candidates</a>&emsp;&emsp;}-|-{&emsp;&emsp;
        <a href="/skill_list/">List of all Skills</a>
        &emsp;&emsp;}
    </h3>
{% endblock %}

{% block content %}
    {% for candidate in data %}
        <div class="container">
            <div class="name">{{ candidate.name }}</div>
            <hr>
            <div class="center">
                <div class="picture">
                    <img src="{{ candidate.picture }}" alt="{{ candidate.name }}" style="width:100%">
                    <div class="small-container"><p>{{ candidate.position }}</p></div>
                </div>
            </div>
            <div class="table">
                <div class="row">
                    <span class="cell"><b>Gender: </b></span>
                    <span class="cell">{{ candidate.gender.title() }}</span>
                </div>

                <div class="row">
                    <span class="cell"><b>Age: </b></span>
                    <span class="cell">{{ candidate.age }}</span>
                </div>

                <div class="row">
                    <span class="cell"><b>Skills: </b></span>
                    <span class="cell">{{ candidate.skills.title() }}</span>
                </div>

                <div class="row">
                    <span class="cell"><b>GitHub: </b></span>
                    <span class="cell"><a href="{{ candidate.github }}">{{ candidate.name }}</a></span>
                </div>

                <div class="row">
                    <span class="cell"><b>Bio: </b></span>
                    <span class="cell">{{ candidate.bio }}</span>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
