{% extends 'base.html' %}

{% block title %}
    Skills List
{% endblock %}

{% block header_nav_bar %}
    <h3>
        {&emsp;&emsp;
        <a href="/">Back to Main Page</a>&emsp;&emsp;}-|-{&emsp;&emsp;
        <a href="/candidate_list/">List of all Santa Candidates</a>
        &emsp;&emsp;}
    </h3>
{% endblock %}

{% block content %}
    <div class="table">
        {% for skill in data %}
            <div class="row">
                <a href="/candidates/{{ skill.lower() }}">
                    <div class="cell">{{ skill.title() }}</div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
